<!DOCTYPE html>
<html lang="en-US" ng-app="sure" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>March Madness Mascots</title>
    <script src="assets/javascripts/angular.min.js"></script>
    <script src="assets/javascripts/underscore-min.js"></script>
    <script src="assets/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <link href="assets/bootstrap/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="assets/javascripts/data.js"></script>
    <script src="assets/javascripts/mascot.js"></script>
    <script src="assets/javascripts/mascots_controller.js"></script>
    <link href="assets/stylesheets/site.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body ng-controller="MascotsCtrl">
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-fluid">
        <h1 class="navbar-left">
          March Madness Mascots {{year}}
        </h1>
        <div class="navbar-right" id="yearSelection">
          <label for="yearSelect">Select a different year </label><select id="yearSelect" ng-change="changeYear()" ng-model="year" ng-options="year for year in yearOptions"></select>
        </div>
      </div>
    </nav>
    <div class="container-fluid" id="main">
      <div class="row">
        <div class="col-md-2" id="filters">
          <div class="sidebar-fixed">
            <form role="form">
              <div class="form-group">
                <label>Show only:</label>
                <ul id="tags">
                  <li class="tag checkbox" ng-repeat="(tag, checked) in tags">
                    <label><input ng-model="tags[tag]" type="checkbox" />{{tag}}</label>
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <label for="search">Search: </label><input autofocus="" class="form-control" ng-model="filterText" placeholder="School or Mascot" type="text" />
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col">
              <p>
                <a class="howRank" href="" ng-click="toggleCollapse(&#39;rankingInstructions&#39;)">Rank your mascots</a><br />
                <ul class="instructions howRank" collapse="rankingInstructionsCollapsed">
                  <li>
                    Click on your favorite mascot.
                  </li>
                  <li>
                    It will be moved to the Ranks section at the bottom.
                  </li>
                  <li>
                    Keep choosing your next favorite mascots until they are all gone.
                  </li>
                  <li>
                    After ranking all the mascots, fill out your bracket according to rank.
                  </li>
                </ul>
              </p>
              <p>
                <a href="" ng-click="toggleCollapse(&#39;bracketInstructions&#39;)">Then, fill out your bracket</a><br />
                <ul class="instructions" collapse="bracketInstructionsCollapsed">
                  <li>
                    After ranking all the mascots, take the mascot at the top of the ranks.
                  </li>
                  <li>
                    Find their team on your bracket.
                  </li>
                  <li>
                    For their next game, if the space is empty, fill it with this team.
                  </li>
                  <li>
                    Continue to do this for each of their next games until either:
                    <ul>
                      <li>
                        there is no empty space (another team is already there), or
                      </li>
                      <li>
                        the team wins the national championship.
                      </li>
                    </ul>
                  </li>
                  <li>
                    Once a team goes as far as they can, take the next team from the top of the ranks and repeat.
                  </li>
                  <li>
                    Keep doing this until your entire bracket is filled out.
                  </li>
                </ul>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul id="mascots">
                <li class="mascot" ng-click="pick(mascot)" ng-hover="hover(mascot)" ng-repeat="mascot in mascots" ng-show="willShow(mascot)">
                  <h4>
                    {{mascot.school}} {{mascot.name}}
                  </h4>
                  <img class="img-responsive img-thumbnail" ng-src="{{mascot.imageUrl}}" />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3" id="ranks">
          <div class="sidebar-fixed">
            <h1>
              Ranks
            </h1>
            <h4>
              Save these so you don't lose them.
            </h4>
            <ol>
              <li class="ranked" ng-repeat="mascot in ranks">
                <span class="glyphicon glyphicon-remove-circle" ng-click="unpick(mascot)"></span><span>{{mascot.school}} {{mascot.name}}</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
