a
  color: blue
  text-decoration: underline
  cursor: pointer
  &:visited
    color: blue

body
  font-family: Helvetica
  margin: 20px

#tags
  width: 300px
  li
    display: inline-block
    list-style-type: none
    width: 80px
    $margin: 10px
    margin-left: $margin
    margin-right: $margin
    margin-bottom: 5px
    input
      margin-right: 5px

.mascot
  display: inline-block
  padding: 10px
  margin: 5px
  background: lightgray
  &:hover
    background: lightblue
    cursor: pointer
  .school, .name
    font-weight: bold
  img.tooltip
    display: none
    outline: gray solid 5px

#yearSelection
  position: absolute
  top: 20px
  right: 20px
  font-size: 75%

// bootstrap's tooltip has a narrow max width.
.tooltip-inner
  max-width: 100%
