$ranks_column_width: 20%

nav
  color: white
  #title
    color: #0272BF
  #year_select
    // Align middle
    margin-top: 5px
    // Not too close to title
    margin-left: 10px

#main
  // not too close to edge
  $side_padding: 30px
  padding-left: $side_padding
  padding-right: $side_padding
  // Clear navbar
  padding-top: 100px

#mascots
  // something is adding 40px left
  padding: 0
  .mascot
    display: inline-block
    vertical-align: top
    padding: 5px
    margin-bottom: 20px
    width: 200px
    &:hover
      background: #ddd
      cursor: pointer

.sidebar-fixed
  position: fixed
  height: 85%

#ranks
  .sidebar-fixed
    background-color: #eee
    padding: 5px
    overflow: scroll

    .ranked
      &:hover
        background-color: #ddd
      .glyphicon
        margin-right: 5px
        &:hover
          cursor: pointer
          color: white
